body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
}
.info-der {
  display: inline;
  margin-left: 120px;
}
.sub {
  padding: 14px;
  margin-right: 15px;
}
.count {
  padding: 1px;
  margin-right: 10px;
  background-color: rgb(196, 241, 71);
  border-radius: 25px;
}
.subtitulo {
  margin-left: 12%;
  color: rgb(16, 46, 129);
}
